$color_turqoise: #1abc9c;
$color_green_see: #16a085;
$color_emerald: #2ecc71;
$color_nephritis: #27ae60;
$color_peterriver: #3498db;
$color_belize:#2980b9;
$color_amethyst:#9b59b6;
$color_wisteria:#8e44ad;
$color_wetasphalt:#34495e;
$color_midnightblue:#2c3e50;
$color_sunflower:#f1c40f;
$color_orange:#f39c12;
$color_carrot:#e67e22;
$color_pumpkin:#d35400;
$color_alizarin:#e74c3c;
$color_pomegranate:#c0392b;
$color_clouds:#ecf0f1;
$color_silver:#bdc3c7;
$color_concrete:#95a5a6;
$color_asbestos:#7f8c8d;

$break: 10;
$break-medium: 60em 1;
$break-small: 30em 1;