
@import "susy";
@import "bourbon";

// Colors
$primary-color: #2980b9; // Blue
$primary-color-alt: #3498db;
$secondary-color: #d35400; // Orange
$secondary-color-alt: #e67e22;
$black: #252525;

// Heights

$screen-width: 60em;
$nav-height: 4em;

// Breakpoints
$bp-nav:670px;
$bp-mobile: 320px;
$bp-mobile-horizontal: 480px;
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1280px;
$bp-desktop-wide: 1500px;

 
@mixin at-breakpoint($value) {
   @media (min-width: $value) { @content; }
}

@mixin till-breakpoint($value) {
   @media (max-width: $value) { @content; }
}

@mixin between-breakpoints($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin standard-link {
  a {
    color: $secondary-color;
    text-decoration: none;
  }
  a:hover {
    color: $secondary-color-alt;
  }
}


@mixin whitebox {
  background: white;
  box-shadow: $primary-color 0em 0.1em 0.1em -0.1em;
  padding: 1em;
}

@mixin grid-with-columns($number) {
  @include span(1 of $number 0.05);
  @include grid-children($number);
}

@mixin grid-children($number) {
  &:nth-child(#{$number}n) {
    @include omega;
  }
  &:nth-child(#{$number}n+1) {
    clear:both;
  }
}