/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require spaghetti
 */


@import url(http://fonts.googleapis.com/css?family=Montserrat:700,400);

$brand-primary:   #2c3e50;
$brand-success:   #C0392B;

$navbar-default-link-hover-color: #DCE0E1;
$navbar-height: 60px;

$body-bg:  #ecf0f1;
$font-family-sans-serif:  "Montserrat", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$list-group-hover-bg: #F1C40F;


@import "bootswatch/flatly/variables";
@import "bootstrap-sprockets";
@import "bootstrap";
// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/flatly/bootswatch";
@import "font-awesome";

// Whatever application styles you have go last
@import "base";
@import "timeline";
@import "github";
