 .heading {
   //background-image: linear-gradient(to bottom,#E74C3C 0,#F75C4C 100%);
   background-color: #F1C40F;
   color: #2C3E50;
   h1 { margin-top: 0;}
 }

.jumbotron {
  text-align: center;
  margin-bottom: 0;
  h1 {  color: #2C3E50; letter-spacing: 0.05em;  }
}

.white {
  background-color: white;
  }

.spacer {
  padding: 2em;
}

.img-spacer {
  display: inline-block;
  padding: 0 0em 0.1em 1em;
}

.description {
  font-size: 1.3em;
  margin-bottom: 1em;
}

.admin {
  a { color: #b4bcc2; }
}

pre {
  padding: 0;
}

svg.logo {
  vertical-align: middle;
  circle.outline {
    stroke: #2C3E50;

    fill: none;
  }
  circle.outline--inner {
    fill:  #F39C12
  }
  circle.outline--outer {
    fill: darken(#F39C12,10%)
  }

  circle.hole {
    fill: #F1C40F;
  }
  line.cross {
    stroke: #2C3E50;
    stroke-linecap: round;
  }
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 30px 0;
}
