
@import "mixins";



html {
	height: 100%;
}

body {
	background: #eee;
	margin: 0;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	color: $black;
	}
h1 {
  font-family: 'Clicker Script', cursive;
	margin:0.2em;
	font-size:3rem;
}

h2 {
  margin: 0.2em 0;
  font-size:2rem;
	font-weight: 400
}

h3 {
  font-size:1.5rem;
	font-weight: 400
}

p {
  margin-bottom:1em;
}

.header {
	background: $primary-color;
	box-shadow: black 0em 0.1em 0.1em -0.1em;
	@include transition (width 2.0s ease-in-out);
}

.header-inner {
	padding: 0em 1em;
	@include container($screen-width);

}


.header-logo {
	display:block;
	@include at-breakpoint($bp-nav) {
			display:inline-block;
			float:left;
		}


	span {
	  margin: 2px 0 0;
	  float:left;
	}
	h1 {
	  color: white;
		font-size: 2em;
		display: inline-block;
		padding: 0.2em 0.3em;
		margin:0;
	}
	h2 {
		display:none;
	}
	a{display:block;}
}

.header-nav {
	ul {
		margin: 0;
		padding: 0;
		@include at-breakpoint($bp-nav) {
			float:right;
		}
	}
	li {
		display: inline-block;
		list-style-type: none;
		margin-left: 0.5em;
		background: $primary-color;
		@include till-breakpoint($bp-nav) {
			border-radius:1em;
			margin-bottom:0.5em;
		}

	}
	li:hover {
		background: $primary-color-alt;
		box-shadow: $primary-color 0em 1em 1em -1em inset;
	}
	a {
		padding: 1em 1.5em;
		@include till-breakpoint($bp-nav) {
			padding: 0.5em;
		}
		display:block;
		color: white;
		text-decoration: none;
	}
}


.main {
   @include standard-link;
   padding-bottom: 4em; //footer sticky
}

.main-inner {
   @include container($screen-width);
   padding: 1em 1em;
}

.footer {
	clear:both;
	background: white;
	height: 4em;
	margin-top: -4em;
}

.footer-inner {
	@include container($screen-width);
	.legal {
		padding:1em;
		font-size:0.7em;
		float:left;
	}
    .user {
        float:left;
		padding:1em;
		font-size:0.5em;
    	@include standard-link;
	}
	.links {
		@include standard-link;
		float: right;
		padding:1em;
		a {
				margin-right:1em;
		}
	}
}

.wrapper {
	min-height: 100%;
}

.button {
  padding: 0.5em;
  line-height: 2em;
  border:0;
  color: white !important;
  font-family: 'Montserrat', sans-serif;
  background-color: $secondary-color;
  &:hover {
    background-color: $secondary-color-alt;
  }
}
