
$primary-color: #2980b9;
$primary-color-alt: #3498db;
$secondary-color: #d35400;
$secondary-color-alt: #e67e22;
$screen-width: 60em;
$nav-height: 4em;

body {
	background: #eee;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	}

.header {
	background: $primary-color;
}

.header-inner {
	padding: 0em 1em;
	@include container($screen-width);

}

.header-logo {
	@include span(4 of 12);

	span {
	  margin: 2px 0 0;
	  float:left;
	}
	h1 {
	  color: white;
		font-size: 1.5em;
		display: inline-block;
		padding: 0.45em 1em;
		margin:0;
	}
}

.header-nav {
	@include span(8 of 12);
	@include omega;
	ul {
		margin: 0 0;
		float:right;
	}
	li {
		display: inline-block;
		list-style-type: none;
		margin-left: 0.5em;
		background: $primary-color;


	}
	li:hover {
		background: $primary-color-alt;
		box-shadow: $primary-color 0em 1em 1em -1em inset;
	}
	a {
		padding: 1em 1.5em;
		display:block;
		color: white;
		text-decoration: none;
	}
}


.main {
  a {
    color: $secondary-color;
    text-decoration: none;
  }
  a:hover {
    color: $secondary-color-alt;
  }
}

.main-inner {
  @include container($screen-width);
  padding: 1em 1em;

}
