#cd-timeline
{
	margin-bottom: 2em;
	margin-top: 2em;
	padding: 2em 0;
	position: relative;
  margin: 0 1em;
}
#cd-timeline::before
{
	background: #d7e4ed;
	content: '';
	height: 100%;
	left: 28px;
	position: absolute;
	top: 0;
	width: 4px;
}
@media only screen and (min-width: 1170px)
{
	#cd-timeline
	{
		margin-bottom: 3em;
		margin-top: 3em;
	}
	#cd-timeline::before
	{
		left: 50%;
		margin-left: -2px;
	}
}
.cd-timeline-block
{
	margin: 2em 0;
	position: relative;
	zoom: 1;
}
.cd-timeline-block:before,
.cd-timeline-block:after
{
	content: " ";
	display: table;
}
.cd-timeline-block:after
{
	clear: both;
}
.cd-timeline-block:first-child
{
	margin-top: 0;
}
.cd-timeline-block:last-child
{
	margin-bottom: 0;
}
@media only screen and (min-width: 1170px)
{
	.cd-timeline-block
	{
		margin: 4em 0;
	}
	.cd-timeline-block:first-child
	{
		margin-top: 0;
	}
	.cd-timeline-block:last-child
	{
		margin-bottom: 0;
	}
}
.cd-timeline-img
{
	border-radius: 50%;
	box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
	height: 60px;
	left: 0;
	position: absolute;
	top: 0;
	width: 60px;
}
.cd-timeline-img img
{
  border-radius: 50%;
	display: block;
	height: 60px;
	left: 50%;
	margin-left: -30px;
	margin-top: -30px;
	position: relative;
	top: 50%;
	width: 60px;
}
.cd-timeline-img.cd-picture
{
	background: #75ce66;
}
.cd-timeline-img.cd-movie
{
	background: #c03b44;
}
.cd-timeline-img.cd-location
{
	background: #f0ca45;
}
@media only screen and (min-width: 1170px)
{
	.cd-timeline-img
	{
		height: 60px;
		left: 50%;
		margin-left: -30px;
		webkit-backface-visibility: hidden;
		webkit-transform: translateZ(0);
		width: 60px;
	}
	.cssanimations .cd-timeline-img.is-hidden
	{
		visibility: hidden;
	}
	.cssanimations .cd-timeline-img.bounce-in
	{
		animation: cd-bounce-1 0.6s;
		moz-animation: cd-bounce-1 0.6s;
		visibility: visible;
		webkit-animation: cd-bounce-1 0.6s;
	}
}
@-webkit-keyframes
cd-bounce-1
{
	0%
	{
		opacity: 0;
		webkit-transform: scale(0.5);
	}
	60%
	{
		opacity: 1;
		webkit-transform: scale(1.2);
	}
	100%
	{
		webkit-transform: scale(1);
	}
}
@-moz-keyframes
cd-bounce-1
{
	0%
	{
		moz-transform: scale(0.5);
		opacity: 0;
	}
	60%
	{
		moz-transform: scale(1.2);
		opacity: 1;
	}
	100%
	{
		moz-transform: scale(1);
	}
}
@-o-keyframes
cd-bounce-1
{
	0%
	{
		opacity: 0;
		o-transform: scale(0.5);
	}
	60%
	{
		opacity: 1;
		o-transform: scale(1.2);
	}
	100%
	{
		o-transform: scale(1);
	}
}
@keyframes
cd-bounce-1
{
	0%
	{
		opacity: 0;
		transform: scale(0.5);
	}
	60%
	{
		opacity: 1;
		transform: scale(1.2);
	}
	100%
	{
		transform: scale(1);
	}
}
.cd-timeline-content
{
	background: white;
	border-radius: 0.25em;
	box-shadow: 0 3px 0 #d7e4ed;
	margin-left: 80px;
	padding: 1em;
	position: relative;
	zoom: 1;
}
.cd-timeline-content:before,
.cd-timeline-content:after
{
	content: " ";
	display: table;
}
.cd-timeline-content:after
{
	clear: both;
}
.cd-timeline-content h2
{
	color: #303e49;
}
.cd-timeline-content p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date
{
	font-size: 0.8125rem;
	font-size: 13px;
}
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date
{
	display: inline-block;
}
.cd-timeline-content p
{
	line-height: 1.6;
	margin: 1em 0;
}
.cd-timeline-content .cd-read-more
{
	background: #acb7c0;
	border-radius: 0.25em;
	color: white;
	float: right;
	padding: .8em 1em;
}
.no-touch .cd-timeline-content .cd-read-more:hover
{
	background-color: #bac4cb;
}
.cd-timeline-content .cd-date
{
	float: left;
	opacity: .7;
	padding: .8em 0;
}
.cd-timeline-content::before
{
	border: 7px solid transparent;
	border-right: 7px solid white;
	content: '';
	height: 0;
	position: absolute;
	right: 100%;
	top: 26px;
	width: 0;
}
@media only screen and (min-width: 768px)
{
	.cd-timeline-content h2
	{
		font-size: 1.25rem;
		font-size: 20px;
	}
	.cd-timeline-content p
	{
		font-size: 16px;
		font-size: 1rem;
	}
	.cd-timeline-content .cd-read-more,
	.cd-timeline-content .cd-date
	{
		font-size: 0.875rem;
		font-size: 14px;
	}
}
@media only screen and (min-width: 1170px)
{
	.cd-timeline-content
	{
		margin-left: 0;
		padding: 1.6em;
		width: 45%;
	}
	.cd-timeline-content::before
	{
		border-color: transparent;
		border-left-color: white;
		left: 100%;
		top: 24px;
	}
	.cd-timeline-content .cd-read-more
	{
		float: left;
	}
	.cd-timeline-content .cd-date
	{
		font-size: 16px;
		font-size: 1rem;
		left: 122%;
		position: absolute;
		top: 6px;
		width: 100%;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content
	{
		float: right;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content::before
	{
		border-color: transparent;
		border-right-color: white;
		left: auto;
		right: 100%;
		top: 24px;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more
	{
		float: right;
	}
	.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date
	{
		left: auto;
		right: 122%;
		text-align: right;
	}
	.cssanimations .cd-timeline-content.is-hidden
	{
		visibility: hidden;
	}
	.cssanimations .cd-timeline-content.bounce-in
	{
		animation: cd-bounce-2 0.6s;
		moz-animation: cd-bounce-2 0.6s;
		visibility: visible;
		webkit-animation: cd-bounce-2 0.6s;
	}
}
@media only screen and (min-width: 1170px)
{
	.cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in
	{
		animation: cd-bounce-2-inverse 0.6s;
		moz-animation: cd-bounce-2-inverse 0.6s;
		webkit-animation: cd-bounce-2-inverse 0.6s;
	}
}
@-webkit-keyframes
cd-bounce-2
{
	0%
	{
		opacity: 0;
		webkit-transform: translateX(-100px);
	}
	60%
	{
		opacity: 1;
		webkit-transform: translateX(20px);
	}
	100%
	{
		webkit-transform: translateX(0);
	}
}
@-moz-keyframes
cd-bounce-2
{
	0%
	{
		moz-transform: translateX(-100px);
		opacity: 0;
	}
	60%
	{
		moz-transform: translateX(20px);
		opacity: 1;
	}
	100%
	{
		moz-transform: translateX(0);
	}
}
@-o-keyframes
cd-bounce-2
{
	0%
	{
		opacity: 0;
		o-transform: translateX(-100px);
	}
	60%
	{
		opacity: 1;
		o-transform: translateX(20px);
	}
	100%
	{
		o-transform: translateX(0);
	}
}
@keyframes
cd-bounce-2
{
	0%
	{
		opacity: 0;
		transform: translateX(-100px);
	}
	60%
	{
		opacity: 1;
		transform: translateX(20px);
	}
	100%
	{
		transform: translateX(0);
	}
}
@-webkit-keyframes
cd-bounce-2-inverse
{
	0%
	{
		opacity: 0;
		webkit-transform: translateX(100px);
	}
	60%
	{
		opacity: 1;
		webkit-transform: translateX(-20px);
	}
	100%
	{
		webkit-transform: translateX(0);
	}
}
@-moz-keyframes
cd-bounce-2-inverse
{
	0%
	{
		moz-transform: translateX(100px);
		opacity: 0;
	}
	60%
	{
		moz-transform: translateX(-20px);
		opacity: 1;
	}
	100%
	{
		moz-transform: translateX(0);
	}
}
@-o-keyframes
cd-bounce-2-inverse
{
	0%
	{
		opacity: 0;
		o-transform: translateX(100px);
	}
	60%
	{
		opacity: 1;
		o-transform: translateX(-20px);
	}
	100%
	{
		o-transform: translateX(0);
	}
}
@keyframes
cd-bounce-2-inverse
{
	0%
	{
		opacity: 0;
		transform: translateX(100px);
	}
	60%
	{
		opacity: 1;
		transform: translateX(-20px);
	}
	100%
	{
		transform: translateX(0);
	}
}
