<article class="mw7 center ph3 ph5-ns pt4">
  <h1 class="fw3 f3 mt0 mb3 ttu tracked">Impressum</h1>
  <h2 class="fw3 f4">Angaben gemäß § 5 TMG</h2>

  <pre><address class="cryptedaddress" data-name="Andreas Knöpfle" data-street="Ziegelstr. 6" data-city="79294 Sölden"></address></pre>

  E-Mail: <a href="#" class="cryptedmail link underline-hover dark-red" data-name="andreas.knoepfle" data-domain="gmail" data-tld="com" onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;"></a>

  <h2 class="fw3 f4">Haftungsausschluss:</h2>

  <h3 class="fw3 f5">Haftung für Links<h3>
  <p class="fw2 f6">
    Mein Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte ich keinen Einfluss habe.
    Deshalb kann ich für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten
    Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden
    zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der
    Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
    Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werde ich derartige
    Links umgehend entfernen.
  </p>
</article>
