!!!
%html
  %head
    %title smallbutton.com
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .header
      .header-inner
        .header-logo
          %h1
            %i.fa.fa-book
            smallbutton.com
        .header-nav
          %ul
            %li 
              %a{:href => "#"} 
                %i.fa.fa-flask
                Projects
            %li 
              %a{:href => "#"}  
                %i.fa.fa-code
                Code
            %li 
              %a{:href => "#"}
                %i.fa.fa-camera
                Photos
            %li 
              %a{:href => "#"}  
                %i.fa.fa-user
                About 
              
    .main
      = yield
